*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/src/main/res/mipmap-hdpi/.nomedia
app/src/main/res/mipmap-mdpi/.nomedia
app/src/main/res/mipmap-xhdpi/.nomedia
app/src/main/res/mipmap-xxhdpi/.nomedia
app/src/main/res/mipmap-xxxhdpi/.nomedia
app/release/app-release.aab
